.container{
    margin: 15px 0;
}
h3{
    text-align: center;
    margin: 15px 0;
}
.checkbox_online{
    margin-left: 20px;
    margin-top: 15px;
}
.text{
    padding: 20px 0;
}
.header{
    border: 1px solid black;
    width: 66%;
    margin: 0 auto;
}